@model IEnumerable<CallSystem.Models.CallList>
@{
    ViewBag.Title = "UsersVoiceList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row chat-window col-xs-10 col-md-4" id="chat_window_1" style="margin-left:10px;">

    <div class="panel panel-primary" style="height:100%;min-height:100%; padding: 0 0 20px 0 ;">
        <div class="panel-heading top-bar">
            <div class="col-md-9 col-xs-9">
                <h3 class="panel-title"><span class="glyphicon glyphicon-comment"></span> Voice      <span id="counter" class="badge badge-danger"></span></h3>

            </div>

        </div>

        <div class="panel-body msg_container_base">

            <ul class="media-list">

                @foreach (var d in Model)
                {
                <li class="media">
                    <input type="hidden" class="clsBusinessPhone1" value="@d.BusinessPhone1" />
                    <input type="hidden" class="clsBusinessPhone2" value="@d.BusinessPhone2" />
                    <input type="hidden" class="clsBusinessPhone3" value="@d.BusinessPhone3" />
                    <input type="hidden" class="clsBusinessPhone4" value="@d.BusinessPhone4" />
                    
                    <input type="hidden" class="clsMainPhone1" value="@d.MainPhone1" />
                    <input type="hidden" class="clsMainPhone2" value="@d.MainPhone2" />
                    <input type="hidden" class="clsMainPhone3" value="@d.MainPhone3" />
                    <input type="hidden" class="clsMainPhone4" value="@d.MainPhone4" />
                    <input type="hidden" class="clsAttn1" value="@d.Attn1" />
                    <input type="hidden" class="clsAttn2" value="@d.Attn2" />
                    <input type="hidden" class="clsAttn3" value="@d.Attn3" />
                    <input type="hidden" class="clsAttn4" value="@d.Attn4" />
                    <input type="hidden" class="clsPosition1" value="@d.Position1" />
                    <input type="hidden" class="clsPosition2" value="@d.Position2" />
                    <input type="hidden" class="clsPosition3" value="@d.Position3" />
                    <input type="hidden" class="clsPosition4" value="@d.Position4" />
                    <input type="hidden" class="clsRecipientId" value="@d.RecipientId" />
                    <input type="hidden" class="clsLoanNo" value="@d.LoanNo" />
                    <input type="hidden" class="clsClientId" value="@d.ClientId" />
                    <input type="hidden" class="clsUserId" value="@d.UserId" />

                    <div class="media-body clsliMedia">

                        <div class="media" style="margin-top:1;">
                            <a class="pull-left" style="margin-top:10px;" href="#">
                                @*<div class="my-circle" title="KM"></div>*@
                                <p class="p_circle" style="background-color:red;border-radius:50%;color:white;height:30px;width:30px;margin: 0 0 0 0 ;line-height: 30px;text-align: center;">BA</p>
                            </a>
                            <div class="media-body">

                                <h5>@d.RecipientName </h5>

                                <small id="sneak_msg" class="text-muted clsShortmsg ">@d.RecepientInitials</small>

                                @*<small class="text-muted">@d.DateTimeReceived</small>*@

                            </div>
                        </div>

                    </div>
                    <input type="hidden" class="clsIsOpen" id="hdnIsopen" value="0" />
                    <div class="clsloadChatScreen" id=" #loadChatScreen">

                    </div>
                </li>

                }
                </ul>
        </div>
    </div>

</div>

@section Scripts
{


    <script src="@Url.Content("~/Custom/JS/User.js")"></script>
    <script src="@Url.Content("~/Custom/JS/details.js")"></script>



}
@Styles.Render("~/Custom/CSS/User.css")

