<div class="container" style="background:#a3e2e7;margin-left:5px;">
    <ul class="list-unstyled">
        <li>
            Personal
            <ul>
                <li>Mobile</li>
                <li>Home</li>
            </ul>

        </li>
        <input type="hidden" class="clsIsOpen" id="hdnIsopen" value="0" />
        <li>
            <div class="minimize">
                Employment
            </div>
            <input type="hidden" class="clsIsOpen" id="hdnIsopen" value="0" />
            <ul class="isMin">
                <div class="minimize">
                    Employment1(current)
                    <ul class="isMIn">
                        <span id="spBusinessPhone1"> <h6>Business Phone @ViewBag.BusinessPhone1</h6></span>
                        <span id="spMainPhone1"> <h6>Main Phone  @ViewBag.MainPhone1</h6></span>
                        <span id="spAttn1"> <h6>Attn.  @ViewBag.Attn1</h6></span>
                        <span id="spPosition1"> <h6>Position @ViewBag.position1</h6></span>
                    </ul>





        </li>
        <li>
            Employment2(previous)
            <ul class="isMin">
                <span id="spBusinessPhone2"> <h6>Business Phone @ViewBag.BusinessPhone2</h6></span>
                <span id="spMainPhone2"><h6>Main Phone @ViewBag.MainPhone2</h6></span>
                <span id="spAttn2"><h6>Attn. @ViewBag.Attn2</h6></span>
                <span id="spPosition2"><h6>Position @ViewBag.position2</h6></span>
            </ul>




        </li>
        @if (@ViewBag.BusinessPhone3 == null && @ViewBag.MainPhone3 == null && @ViewBag.Attn3 == null && @ViewBag.position3 == null)
        {

            <li>
                Employment3(previous)
                <ul class="isMin">
                    <span id="spBusinessPhone3"> <h6>Business Phone @ViewBag.BusinessPhone3</h6></span>
                    <span id="spMainPhone3"><h6>Main Phone @ViewBag.MainPhone3</h6></span>
                    <span id="spAttn3"><h6>Attn. @ViewBag.Attn3</h6></span>
                    <span id="spPosition3"><h6>Position @ViewBag.position3</h6></span>
                </ul>




            </li>
        }
        @if (@ViewBag.BusinessPhone4 == null && @ViewBag.MainPhone4 == null && @ViewBag.Attn4 == null && @ViewBag.position4 == null)
        {


            <li>
                Employment4(previous)
                <ul class="isMin">
                    <span id="spBusinessPhone4"> <h6>Business Phone @ViewBag.BusinessPhone4</h6></span>
                    <span id="spMainPhone4"><h6>Main Phone @ViewBag.MainPhone4</h6></span>
                    <span id="spAttn4"><h6>Attn. @ViewBag.Attn4</h6></span>
                    <span id="spPosition4"><h6>Position @ViewBag.position4</h6></span>
                </ul>




            </li>
        }
    </ul>
</div>

    </ul>
</div>
